.half-width {
    width: 50%;
    padding-left: 5%;
}

.half-width img {
    width: 60%;
}

.top-banner {
    background-image: url(shapes/dream-bg.png);
    background-repeat: no-repeat;
}

.link-button {
    text-decoration: none;
    padding: 5px 25px;
    border-radius: 10px;
    background-color: blue;
    color: white;
}

.purple-color {
    color: purple
}

section {
    display: flex;
    margin-bottom: 100px;
}

.mission-item {
    box-shadow: 10px 10px 40px rgb(247, 3, 210);
    width: 30%;
    margin-left: 5%;
    margin-right: 5%;
    padding-left: 2%;
    border-radius: 30px;
}

.heading-item {
    border-left: 5px solid;
}

.omicron {
    text-align: center;
}

footer {
    text-align: center;
    background-color: rgb(244, 6, 212);
}